<h2>Welcome to Mia, and world domination.</h2>
<p>Imagin a million robots cooperating. <a href='http://karotz.com'>Karotz</a> is
  a little robot rabbit that can be controlled. All I want to do is make a million
  of the count in sequence around the world and plot the activity in Google Earth.
</p>
<img src='images/mia_icon.jpg'/>

