<h2>Welcome to Mia, and world domination.</h2>
<p>Imagine a million robots cooperating. <a href='http://karotz.com'>Karotz</a> is
  a little robot rabbit that can be controlled.
</p>
<img src='images/mia_icon.jpg'/>

