<h2>Testing Stuff, Do Not Concern Yourself</h2>

<p>Karotz Platform posts an interactive_id to my app.</p>
<form action="interactive_id" method="post">
  <input name="interactive_id" value="AN_INTERACTIVE_ID"/>
  <button>POST IT</button>
</form>

<p>Session: <%= session.keys %></p>

<p>Interactive ID: '<%= session[:interactive_id] %>' : <a href="http://api.karotz.com/api/karotz/tts?action=speak&lang=EN&text=This%20Is%20Mia&interactiveid=<%= session[:interactive_id] %>">Speak</a></p>

<p>Start the application using the Karotz website.</p>
<a href="http://www.karotz.com/authentication/run/karotz/25d13d57-c366-4856-b485-aa795f5f1c60">START</a>
