<h2>Testing Stuff, Do Not Concern Yourself</h2>

<hr/>
<p>Karotz Platform posts an interactive_id to my app.</p>
<form target="_blank" action="callback" method="get">
  <input name="interactiveid" value=""/>
  <button>Set Interactive ID</button>
</form>
<p>OR</p>
<p>Start the application using the Karotz website.</p>
<a target="_blank" href="http://www.karotz.com/authentication/run/karotz/25d13d57-c366-4856-b485-aa795f5f1c60">START</a>
<hr/>
<p>Interactive ID: '<%= session[:interactive_id] %>'</p>
<hr/>
<p>Stop the application:<br/>
  <a target="_blank" href="http://api.karotz.com/api/karotz/interactivemode?action=stop&interactiveid=<%= session[:interactive_id] %>">Stop</a>
</p>
<hr/>
<p>Say something:<br/>
  <a target="_blank" href="http://api.karotz.com/api/karotz/tts?action=speak&text=it%20is%20a%20small%20world%20after%20all&interactiveid=<%= session[:interactive_id] %>">Speak</a>
  <br/>
  <form target="_blank" action="speak">
    <input name="text" value="I'd like to teach the world to sing"/>
    <button>Speak</button>
  </form>
</p>


